.app {
    background-color: var(--primary);
    max-width: 100%;
}

.content__wrapper {
    margin: 100px 0 0 340px;
    padding: 40px;
}


@media only screen and (max-width: 1280px) {
    .content__wrapper {
        margin-left: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .content__wrapper {
        margin-left: 0;
        padding: 40px 15px;
        margin-top: 60px;
    }   
}